.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.build/

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Logs
*.log
